config\.json

*.txt
!requirements.txt

*.log

RaiderData/

LoggerData/

node_modules/
\.eslintrc\.json

tester\.json

raider\.json

\.vscode/

TesterData/

coverage/

\.nyc_output/

testing.js

.python-version
env/
test.py

game_master.json

forms.json